page-register {
    .main-container{        
        .form{
            background: white;
            border-radius: 8px;
        }
         .input-list ion-item{
            background: transparent;
            color: black;
            padding-right: 10px;
        }
        .btn-register{
            border-radius: 8px;
        }
    }
}
