// http://ionicframework.com/docs/theming/

.bg-menu{
    // background: url('../assets/imgs/bg-menu.png') no-repeat center;
    background: linear-gradient(to top, #f558f0, #2e112d);
    .menu-list-background ,.menu-list-background button{
        background: transparent;
        color: white;
    }
}
